<h1>Players</h1>
<nav>
    <a href="/">Home</a>
    <a href="../players">Players</a>
    <a href="../coaches">Coaches</a>
    <a href="../teams">Teams</a>
    <a href="../games">Games</a>
    <a href="../stats">Stats</a>
</nav>
<br />
<br />
    <a href="create.html"><button class="add button">Add New</button></a>
<h2>Adding Players:</h2>
<form id="team-create-form">
    <div class="form-container">
    <label for="name">Player Name:</label>
    <input type="text" name="name" value="Wiz" />
    <br />

    <label for="city">Player Height:</label>
    <input type="text" name="city" />
    <br />

    <label for="position">Player Position:</label>
        <input type="text" name="position" />
        <br />

        <label for="number">Player Number:</label>
        <input type="text" name="number" />
        <br />
    </div>
    <div class="button-container">
    <button class="back button"><a href="index.html"> Back</a></button>
    <input class="submit button" type="submit" />
    </div>
</form>