<h1>Teams</h1>
<nav>
    <a href="/">Home</a>
    <a href="../players">Players</a>
    <a href="../coaches">Coaches</a>
    <a href="../teams">Teams</a>
    <a href="../games">Games</a>
    <a href="../stats">Stats</a>
</nav>
<br />
<h2>Creating Team:</h2>
<form id="team-create-form">
    <div class="form-container">
    <label for="name">Team Name:</label>
    <input type="text" name="name" id="input-tname" />
    <br />

    <label for="city">Team Location:</label>
    <input type="text" name="city" id="input-city" />
    <br />
    </div>
    <div class="button-container">
    <a href="/teams"><button type="button" class="back button">Back</a></button>
    <input class="submit button" type="submit" />
    </div>
</form>
<script src="/js/add_team.js"></script>