<!-- index.hbs -->
<h1>Qualified Hoopers Association</h1>
    <nav>
      <a href="#">Home</a>
      <a href="players">Players</a>
      <a href="coaches">Coaches</a>
      <a href="teams">Teams</a>
      <a href="games">Games</a>
      <a href="stats">Stats</a>
    </nav>
    <p>
      Qualified Hoopers Association, a basketball league, wants to save their
      game log data into a database. The league consists of 4 active teams, with
      5–10 players on each team. There are also 2 teams in the process of
      forming mid-season. The database driven website will record teams,
      players, game results, and individual stats. League officials are able to
      enter player information, update rosters, and add/update player stats.
      Each team will play one game weekly, for four months, totaling 16 games
      per team. This website allows for players to track their performance over
      the season and will assist the league with ensuring that games stay
      balanced, while keeping the league competitive.
    </p>
    <h2>Database Schema</h2>
    <img
      src="../public/img/schema.png"
      alt="schema diagram of the relationships between tables."
      class="schema"
    />