   <h1>Player's Stats</h1>
    <nav>
      <a href="/">Home</a>
      <a href="../players">Players</a>
      <a href="../coaches">Coaches</a>
      <a href="../teams">Teams</a>
      <a href="../games">Games</a>
      <a href="../stats">Stats</a>
    </nav>
    <br />
    <h2>Create Player Stats:</h2>

    <form action="index.html">
      <div class="form-container">
        <label for="playerID">Player ID:</label>
        <input type="text" name="playerID" />
        <br />

        <label for="gameID">Game ID:</label>
        <input type="text" name="gameID" />
        <br />

        <label for="point">Player Points:</label>
        <input type="text" name="point" />
        <br />

        <label for="assist">Player Assists:</label>
        <input type="text" name="assist" />
        <br />

        <label for="rebound">Player Rebounds:</label>
        <input type="text" name="rebound" />
        <br />

        <label for="fgMake">Player Field Goal Makes:</label>
        <input type="text" name="fgMake" />
        <br />

        <label for="fgAttempt">Player Field Goal Attempts:</label>
        <input type="text" name="fgAttempt" />
        <br />

        <label for="ftMake">Player Free Throw Makes:</label>
        <input type="text" name="ftAttempt" />
        <br />

        <label for="ftAttempt">Player Free Throw Attempts:</label>
        <input type="text" name="ftMake" />
        <br />

        <label for="threeMake">Player Three Point Makes:</label>
        <input type="text" name="threeMake" />
        <br />

        <label for="threeAttempt">Player Three Point Attempts:</label>
        <input type="text" name="threeAttempt" />
        <br />

        <label for="block">Player Blocks:</label>
        <input type="text" name="block" />
        <br />

        <label for="steal">Player Steals:</label>
        <input type="text" name="steal" />
        <br />

        <label for="foul">Player Fouls:</label>
        <input type="text" name="foul" />
        <br />

        <label for="minute">Player Minutes:</label>
        <input type="text" name="minute" />
        <br />
        <br />
      </div>
      <div class="button-container">
        <button class="back button"><a href="index.html"> Back</a></button>
        <input class="submit button" type="submit" />
      </div>
    </form>